{% extends 'base.html.twig' %}

{% block title %}Condition Générales d'après vente{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Mes conditions générales de vente</h1>
    </div>
{% endblock %}
